<%# Override default navigation bar %>
<%= content_for :nav do %>
<nav id="welcome-nav">
  <span class="link"><a href="#top"><%= image_tag "logo.png", alt: "TempoRun Logo" %></a></span>
  <span class="link"><a href="#what-is">About</a></span>
  <span class="link"><a href="#reviews">Reviews</a></span>
  <span class="link"><a href="#aboutus">Team</a></span>
  <span class="link"><a href="#news">News</a></span>
  <span class="link"><a href="#contact">Contact</a></span>
</nav>
<% end %>

<section id="top">
<div class="wrapper">
  <div class="section-header">
    <h1>A Revolutionary Running Experience</h1>
  </div>

  <div id="video" class="vidHolder fullWidth">
    <iframe id="vimeo" src="http://player.vimeo.com/video/60911008?badge=0&portrait=0&title=0&byline=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>

  <div class="app-store-badge">
    <%= link_to "https://itunes.apple.com/us/app/temporun/id643120489?ls=1&mt=8" do %>
      <%= image_tag "app_store.png", alt: "Available on the App store" %>
    <% end %>
  </div>
</div>
</section>

<section id="what-is">
<div class="wrapper">
  <div class="section-header">
    <h1>What is TempoRun?</h1>
    <span class="byline">Meet your new training partner</span>
  </div>

  <div id="bullets">
    <div class="bullet">
      <div class="title">Sort Your Songs by Tempo</div>
      <%= image_tag "IMG_1702.png", alt: "Calculate Tempo" %>
      <p>
      TempoRun will automatically categorize your music into levels from 1 to 10, based on tempo.
      Level 1 is a walk, 5 is a jog, and 10 is a sprint!
      </p>
    </div>

    <div class="bullet">
      <div class="title">Listen to Music Perfectly Timed to your Run</div>
      <%= image_tag "Screen_5_i5.png", alt: "Run Control Panel" %>
      <p>
      On your run, easily manage your songs and speed.
      The interface is clean and easy to use, so you can
      get in, get out, and get back to your run.
      </p>
    </div>

    <div class="bullet">
      <div class="title">Keep Track of Stats, Improve Your Runs</div>
      <%= image_tag "Screen_3_i5.png", alt: "Dashboard" %>
      <p>
      Get an at-a-glance view of your progress, and keep track of your training history.
      </p>
    </div>
  </div>

  <div id="science-link">
    <p>For information on the science behind TempoRun, check out our page on <%= link_to "the Science Behind TempoRun", "/science" %>
  </div>
</div>
</section>

<section id="reviews">
<div class="wrapper">
  <div class="section-header">
    <h1>Reviews</h1>
    <span class="byline">Don't just take our word for it</span>
  </div>

    <div id="testimonials">
      <div class="testimonial">
        <blockquote>The personal trainer I've never had</blockquote>
        <p class="source">Brad, Casual Runner</p>
      </div>

      <div class="testimonial">
        <blockquote>TempoRun has helped me improve my pace ten-fold.
        I'm now training for a half-marathon!</blockquote>
        <p class="source">Rachel, Distance Runner</p>
      </div>

      <div class="testimonial">
        <blockquote>Running has never felt easier</blockquote>
        <p class="source">Alex, Fitness Enthusiast</p>
      </div>
    </div>
  </div>
</div>
</section>

<section id="aboutus">
<div class="wrapper">
  <div class="section-header">
    <h1>About Us</h1>
    <span class="byline">The who and what made it happen</span>
  </div>

  <div id="profiles">
    <div class="profile">
      <%= image_tag "headshots/josh-circle.png", alt: "Josh Leider" %>
      <div class="name">Josh Leider</div>
      <p>Josh is in charge of all marketing efforts regarding TempoRun. He enjoys camping, everything cliché you could possibly think of, and Donald Glover.</p>
    </div>

    <div class="profile">
      <%= image_tag "headshots/benny-circle.png", alt: "Benny Ebert-Zavos" %>
      <div class="name">Benny Ebert-Zavos</div>
      <p>Benny is in charge of everyday operations for TempoRun. He enjoys running, sports (even though he is uncoordinated), health, music, travel and architecture.</p>
    </div>

    <div class="profile">
      <%= image_tag "headshots/phil-circle.png", alt: "Phyllis" %>
      <div class="name">Phil Getzen</div>
      <p>Phil is a lead developer, impromptu designer and co-founder of TempoRun. He enjoys science and falling asleep to Carl Sagan. The world is his oyster.</p>
    </div>

    <div class="profile">
      <%= image_tag "headshots/ryan-circle.png", alt: "Ryan Tempas" %>
      <div class="name">Ryan Tempas</div>
      <p>Ryan is a developer for TempoRun. Lives by the quote "Whiskey and wild women - No man can live without"</p>
    </div>

    <div class="profile">
      <%= image_tag "headshots/adam-circle.png", alt: "Adam Proschek" %>
      <div class="name">Adam Proschek</div>
      <p>Adam is the co-founder and Vice President of Engineering at TempoRun.</p>
    </div>
  </div>
</div>
</section>

<section id="news">
<div class="wrapper">
  <div class="section-header">
    <h1>News &amp; Updates</h1>
    <span class="byline">Don't fall behind</span>
  </div>
  <div id="news-container">
    <a class="twitter-timeline" href="https://twitter.com/TempoRunApp" data-widget-id="309389373173022720">Tweets by @TempoRunApp</a>
  </div>
</div>
</section>

<section id="contact">
<div class="wrapper">
  <div class="section-header">
    <h1>Contact Us</h1>
    <span class="byline">We love making new friends</span>
  </div>

  <div id="contact-methods">
    <div id="phone" class="contact-method">
      <%= image_tag "contact/phone.svg", alt: "phone" %>
      <span class="contact-title">Call Us</span>
      <span class="contact-info">517.377.4262</span>
    </div>

    <div id="email" class="contact-method">
      <%= image_tag "contact/email.svg", alt: "email" %>
      <span class="contact-title">Email Us</span>
      <span class="contact-info"><a href="mailto:support@temporunapp.com">support @temporunapp.com</a></span>
    </div>

    <div id="twitter" class="contact-method">
      <%= image_tag "contact/twitter.svg", alt: "twitter" %>
      <span class="contact-title">Follow Us</span>
      <span class="contact-info"><a href="https://twitter.com/temporunapp">@TempoRunApp</a></span>
    </div>

    <div id="facebook" class="contact-method">
      <%= image_tag "contact/facebook.svg", alt: "facebook" %>
      <span class="contact-title">Like Us</span>
      <span class="contact-info"><a href="https://www.facebook.com/temporunapp">TempoRun App</a></span>
  </div>
</div>
</section>

