<!DOCTYPE html>
<html>
<head>
  <title>TempoRun</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'TempoRun', :root, id: 'home' %>
  <%= link_to 'The Science', :root %>
</nav>

<div id="wrapper">

  <%= yield %>

</div>

</body>
</html>
