<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? :title %>
       <%= yield :title %>
     <% else %>
       Run with Music - TempoRun
     <% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/2cc6e0c9-07f3-4af0-bc76-fd66fd520c1d.css"/>
  <%= csrf_meta_tags %>
</head>

<body>

<% if content_for? :nav %>
  <%= yield :nav %>
<% else %>
  <nav id="main-nav">
    <span class="link">
      <%= link_to(:root) { image_tag "logo.png", alt: "TempoRun Logo" } %>
    </span>
    <span class="link"><%= link_to "Home", :root %></span>
    <span class="link"><%= link_to "Science", "/science" %></span>
  </nav>
<% end %>

<%= yield %>


<footer id="footer">
  All Copyrights Reserved. TempoRun App 2013
  <span id="credits">Website by <a href="http://graysonwright.com">Grayson Wright</a></span>
</footer>

</body>
</html>
